
:root {

    --verdeTrybeclaro: #24c789;
    --verdeTrybeEscuro: rgb(9, 105, 80);

    --NavFooterColor: black;
    --NavFooterText: rgb(232, 250, 232);
    --corFundo: rgb(232, 250, 232);


}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
}
body {
    background-color: var(--corFundo);
    margin: 0%;
    width: 100%;
}
/*Configuraçãoes globais*/


header {
    position: relative;
    height: 16px;
}
header > nav {
    color: antiquewhite;

    background-color: var(--NavFooterColor);

    text-align-last: right;
    font-family: 'Raleway', sans-serif;
    height: 25px;
    padding-top: 5px;
    position: fixed;
    width: 100%;
}
nav > a {
    color: var(--NavFooterText);
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    padding: 6px 5px;
    background-color: var(--VerdeTrybe);
}
nav > a:hover {
    background-color: rgb(51, 51, 51);
    color:var(--VerdeTrybe);
    transition-duration: 0.5s;
}
/* configuração do navegador de links*/


/* configuração do banner*/
     /* configuração do banner localizado florianopolis*/
header > div.fln {
    position: absolute;
    background-color: var(--verdeTrybeEscuro);
    width: 100%;
    height: 20px;
    margin-top: 30px;
}p#fln {
    background-color: var(--verdeTrybeEscuro);
    color: rgb(185, 177, 165);
    text-align: right;
    font-size: 90%;
    font-weight: 100;
    padding: 3px;
    padding-right: 8px;
}
   /* configuração do banner localizado florianopolis*/


   /* configuração da divisoria do logo,img e contatos*/
header > table {
    position: absolute;
    margin-top: 50px;
    width: 100%;
    height: 120px;
    border-collapse: collapse; 
}
header td  {
    color: antiquewhite;
    background-color: var(--verdeTrybeEscuro);
    
}
       /* configuração da divisoria do logo,img e contatos*/
       /* configuração da fonte logo*/
td#logoName {
    font-size: 4vw;
    padding-left: 60px;

    color: var(--verdeTrybeclaro);

    
}
td#logoName strong {
    color: antiquewhite;
}
       /* configuração da fonte logo*/
       /* configuração da foto mao*/
td#logoimg {
    width: 10%;
    margin-left: 10%;
}
td img#foto {
    width: 100%;
    margin: 0 30px;
    margin-top: 1vw;
    border-radius: 4px;
}
       /* configuração da foto mao*/
       /* configuração dos contatos*/
td#contatos {
    font-size: 90%;
    text-align: right;
    font-weight: 300;
    
}

p#email {
    margin: 0px;
    margin-bottom: 15px;
    margin-right: 15px;
    text-decoration: none;
    color: rgb(185, 177, 165);

}

a#cont {
    color: rgb(185, 177, 165);
    text-decoration: none;

}
       /* configuração dos contatos*/
/* configuração do banner*/



/*configuração foto capa*/
main {
    min-width: 270px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10%;
    margin: auto;
    margin-top: 50px;
    
}

   
/*configuração foto capa*/

#lista {
    margin-left: 90px;
    margin-top: 0px;
    font-size: 110%;
    padding-bottom: 30px;

}

/*configuração texto apresentaçao*/
main > div {
    padding-top: 60px;
    max-width: 90%;
    margin: auto;
    border-radius: 7px;
    background-color: aliceblue;
    
}
h2#apres {
    color: black;
    font-size: 110%;
    font-weight: 400;
    margin:auto;
    max-width: 600px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    
}
h2#apres > strong {
    color: var(--VerdeTrybe);
}
/*configuração texto apresentaçao*/


/*configuração da caixa de fotos*/
div#trab p {
    color: black;
    padding: 3px 6px;
    text-align: justify;
    font-weight: 300;
    font-size: 15px;
    margin-top: 20px;
    max-width: 500px;
    text-align: center;
    margin: auto;
    padding-top: 30px;
    
}
div#trab img {
    width: 23%;
    max-width: 200px;
    
}
div#basefotos {
    margin-top: 100px;
    width: 750px;
    height: 100%;
    align-content: center;
    border: 8px solid white;
    background-color: white;
    
}
section {
    margin: 0px;
    padding: 0px;
    
}
/*configuração da caixa de fotos*/

/*configuração do rodape*/
footer > p {
    text-align: center;

    color: var(--NavFooterText);
    background-color: var(--NavFooterColor);

    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 200;

}
footer > p > a {
    color: var(--NavFooterText);
    text-decoration: none;

}
section p strong {
    font-weight: 700;

    color: var(--NavFooterText);

}

/*configuração do rodape*/

.links {
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 30%;

    
    color: var(--verdeTrybeEscuro);

}

div#link {
    
    align-items: center;
    font-size: 350%;
    text-align: center;
    margin-bottom: 50px;

}