:root {
    --verdeEscuro: #016b51;
    --verdeClaro: #11a36a;
}
* {
    margin: 0%;
    padding: 0%;
    font-family: 'Raleway', sans-serif;

}
.nav {
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 1;
    margin: -35px 0 0 0;
}
.nav a {
    text-decoration: none;
    list-style-type: none;
    color: antiquewhite;
    
}
.nav li {
    display: inline-block;
    padding: 10px 10px;
    font-size: 20px;
    
}
.banner {
    margin-top: 35px;
    position: relative;
    display: block;
    width: 100%;
    min-height: 210px;
    
    background-color: var(--verdeEscuro);
}
.banner h1 {
    color: white;
    margin-left: 220px;
    margin-top: -170px;
    font-size: 190%;
    padding-bottom: 50px;
}
.name {
    color: black;
    font-size: 120%;
}
.banner img {
    margin-left: 10px;
}
.base {
    width: 80%;
    background-color: rgb(228, 228, 228);
    margin: 20px auto;
    border-radius: 15px;
}
.artigo {
    padding: 30px;
}
.lista {
    padding: 0 0 30px 45px
   
}
.footer {
    background-color: var(--verdeEscuro);
    margin-bottom: 30px;
    padding: 15px;
    text-align: center;
   
}
.footer a {
    text-decoration: none;
    color: white;
}
.container-cont {
    margin: 20px auto;
    border-radius: 15px;
    width: 80%;
    background-color: rgb(228, 228, 228);
    padding: 20px;
    text-align: center;
    
    
}
.container-cont a {
    text-decoration: none;
    color: var(--verdeEscuro);
    
   
}

.base p {
    padding-top: 30px;
    margin: auto;
    width: 80%;
    text-align: center;
    padding-bottom: 20px;

}
.set {
    width: 90%;
    margin: auto;
}
.set img {
    width: 23%;
    margin: auto;
}